<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ProjectOne</display-name>
	 <context-param>  
    <param-name>contextConfigLocation</param-name>  
    <param-value>/WEB-INF/project-beans.xml</param-value>  
  </context-param>  
    
  <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>
	<servlet>
     <servlet-name>RegisterServlet</servlet-name>
   <servlet-class>com.project.servlets.RegistrationRequest</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>*register*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>AcceptanceServlet</servlet-name>
   <servlet-class>com.project.servlets.AcceptanceRequest</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptanceServlet</servlet-name>
    <url-pattern>/acceptance*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>AddFriendsToGroupServlet</servlet-name>
   <servlet-class>com.project.servlets.AddFriendsToGroupRequest</servlet-class>
  	<load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendsToGroupServlet</servlet-name>
    <url-pattern>/addFriendsToGroup*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>AddTransactionServlet</servlet-name>
   <servlet-class>com.project.servlets.AddTransactionRequest</servlet-class>
  	<load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTransactionServlet</servlet-name>
    <url-pattern>/addTransaction*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>AsynchronousServlet</servlet-name>
   <servlet-class>com.project.servlets.AsynchronousRequest</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsynchronousServlet</servlet-name>
    <url-pattern>/asynchronous*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>AuthenticationServlet</servlet-name>
   <servlet-class>com.project.servlets.AuthenticationRequest</servlet-class>
  	<load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/authentication*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>CreateGroupServlet</servlet-name>
   <servlet-class>com.project.servlets.CreateGroupRequest</servlet-class>
  	<load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/createGroup*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>DeleteFriendFromGroupServlet</servlet-name>
   <servlet-class>com.project.servlets.DeleteFriendFromGroupRequest</servlet-class>
  	<load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendFromGroupServlet</servlet-name>
    <url-pattern>/deleteFriendFromGroup*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>DeleteGroupServlet</servlet-name>
   <servlet-class>com.project.servlets.DeleteGroupRequest</servlet-class>
  	<load-on-startup>9</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupServlet</servlet-name>
    <url-pattern>/deleteGroup*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>DeleteTransactionServlet</servlet-name>
   <servlet-class>com.project.servlets.DeleteTransactionRequest</servlet-class>
  	<load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTransactionServlet</servlet-name>
    <url-pattern>/deleteTransaction*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>SendSuggestionServlet</servlet-name>
   <servlet-class>com.project.servlets.SendSuggestionRequest</servlet-class>
  	<load-on-startup>11</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSuggestionServlet</servlet-name>
    <url-pattern>/sendSuggestion*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>SynchronizingServlet</servlet-name>
   <servlet-class>com.project.servlets.SynchronizingRequest</servlet-class>
  	<load-on-startup>12</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SynchronizingServlet</servlet-name>
    <url-pattern>/synchronizing*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>TagServlet</servlet-name>
   <servlet-class>com.project.servlets.TagRequest</servlet-class>
  	<load-on-startup>13</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/tag*</url-pattern>
 </servlet-mapping>
 	<servlet>
     <servlet-name>UpdateTransactionServlet</servlet-name>
   <servlet-class>com.project.servlets.UpdateTransactionRequest</servlet-class>
  	<load-on-startup>14</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTransactionServlet</servlet-name>
    <url-pattern>/updateTransaction*</url-pattern>
 </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
